main{
    background-image: url(https://slimhamdi.net/zinouba/demos/img/bg.jpg);
    height: 100vh;
    background-size: cover;
    &::before{
        content:"";
        background-color: black;
        height: 100vh;
        width: 100%;
        position: fixed;
        opacity: 0.85;
        z-index: 1;
    }
    .main-wrapper{
        position:fixed;
        z-index: 12;
    }
}
.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10000;
  .left-loader,
  .right-loader {
    width: 50%;
    height: 100vh;
    background-color: gray;
  }
  @keyframes leftIndicator {
    from {
      left: 0px;
    }
    to {
      left: -50%;
    }
  }
  @keyframes rightIndicator {
    from {
      right: 0px;
    }
    to {
      right: -50%;
    }
  }
  .right-loader {
    position: inherit;
    right: -50%;
    animation: rightIndicator 1s;
    animation-fill-mode: forwards;
  }
  .left-loader {
    position: inherit;
    left: -50%;
    animation: leftIndicator 1s;
    animation-fill-mode: forwards;
  }
}
